## 1.What are the two values of the Boolean data type? How do you write them?

Boolean data type means we have two conditions either True or False. data type is <class bool>
True => 
    ex:
            a = True
            print(a)
            type(a)
    
False =>
     ex:
            b = False
            print(b)
            type(b)

In [1]:
a = True
print(f"the a value is '{a}' and type is '{type(a)}'")
type(a)

the a value is 'True' and type is '<class 'bool'>'

bool

In [2]:
a = False
print(f"the a value is '{a}' and type is '{type(a)}'")
type(a)

the a value is 'False' and type is '<class 'bool'>'

bool

# 2. What are the three different types of Boolean operators?

 2. Logical operators :-
        1. and
        2. or
        3. not
and: 'and' is used for if we want to check two are more conditions with in the if statement, at that time , we will use 'and' operator.
     along with that, here what ever we given multiple conditions all those are need to be satisfied.
or : 'or' is used for if we want to check two are more conditions with in the if statement, at that time , we will use 'or' operator.
     along with that, here what ever we given multiple conditions any one of the condition need to be satisfied.
not : 'not' is used for  if condition is not(true), it will give True or False

In [3]:
a =1
b=2
if a ==1 and b==2:
    print(a,b)

1 2

In [4]:
a =1
b=2
if a ==1 or b==3:
    print(a,b)

1 2

In [9]:
a=1
b=2
not(a==b)

True

# 3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

3. Truth Tabales:-
    
    and Table
    x        y    =>   o/p
    True   True   => True
    True    False  => False
    False   True   => False
    False   False  => False
    
    
    or Table
    x        y     => o/p
    True    True   => True
    True    False   => True
    False   True    => True
    False    False   => False
    
    not Tbale
     x     => o/p
        
    True   =>  False
    False  => True

# 4. What are the values of the following expressions?
(5 &gt; 4) and (3 == 5)

not (5 &gt; 4)

(5 &gt; 4) or (3 == 5)

not ((5 &gt; 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

In [10]:
(5 > 4) and (3 == 5) # True and False  => False  => (as per Truth Tables)

False

In [11]:
not(5>4)  # not(True)  => False  => (as per Truth Tables)

False

In [12]:
(5 > 4) or (3 == 5) # True or  False  => True  => (as per Truth Tables)

True

In [13]:
not((5 > 4) or (3 == 5))  # not(True or False ) => not(True)  => False  => (as per Truth Tables)

False

In [14]:
(True and True) and (True == False) # True and False => False  => (as per Truth Tables)

False

In [15]:
(not False) or (not True)  # True or False  => True  => (as per Truth Tables)

True

# 5. What are the six comparison operators?


comparision operators :-
        
        
        == (equal to )=>(if both variable values are equal like for ex: a=10,b=10, if a == b=>True => it will go into the body statements, 
                       other wise it will out from the condition statement) 
        != (not eqaul to) => (if both variable values are not equal like for ex:a=1,b=2, if a != b=>True => it will go into the body statements,
                         other wise it will out from the condition statement) 
        > (greater than) => (if one variable is greater than another variable like for ex: a=10,b=5, if a>b=>True =>it will go into the body statements,
                        other wise it will out from the condition statement) 
        >= (greater than or equal to) => (if one variable is greater than or equal to another variable like for ex: a=10,b=5, if a>=b=> True =>it will go into the body statements,
                        other wise it will out from the condition statement) 
        < (less than) => (if one variable is less than another varaibale like for ex: a=10,b=5, if a<b =>True=> it will go into the body statements 
                           other wise it will out from the condition statement) 
        <= (less than or equal to) => (if one variable is less than or equal to another varaibale like for ex: a=10,b=5, if a<b =>True=> it will go into the body statements 
                           other wise it will out from the condition statement)

In [16]:
a=1
b=1
if a==b:
    print(a,b)

1 1

In [17]:
a=1
b=2
if a!=b:
    print(a,b)

1 2

In [18]:
a=1
b=2
if b>a:
    print(a,b)

1 2

In [19]:
a=1
b=1
if b>=a:
    print(a,b)

1 1

In [20]:
a=1
b=0
if b<a:
    print(a,b)

1 0

In [21]:
a=0
b=0
if b<=a:
    print(a,b)

0 0

# 6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

equal to operator (==) ===> it is used for comparing the values or conditions.
                                and it returns '1' or True  => if both are same  or it returns '0' or False
                            for ex : a=10, b=10
                                     a==b =>  True
                                     a=10, b=20
                                     a==b  => False like this it will work
                        
assignment operator (=) ===> it is used for value assaignment to varaibles
                                for ex: a = 10
                                        b =20
            
                            in this a=10 statement ==> we are assaign the '10' value to 'a' varaible
                                    b=20 statement ==> we are assaign the '20' value to 'b' variable

# 7. Identify the three blocks in this code:
spam = 0

if spam == 10:

print(&#39;eggs&#39;)

if spam &gt; 5:

print(&#39;bacon&#39;)

else:

print(&#39;ham&#39;)

print(&#39;spam&#39;)

print(&#39;spam&#39;)

# 1)

In [22]:
spam =0
if spam == 10:
    print('eggs')

# 2)

In [23]:
if spam >5:
    print('bacon')
else:
    print('ham')
    print('spam')

ham
spam

# 3)

In [24]:
print('spam')

spam

# 8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [29]:
spam = int(input("enter the spam value : "))
if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

enter the spam value : 1
Hello

# 9.If your programme is stuck in an endless loop, what keys you’ll press?

If my programme is stuck in an endless loop , I will press on 'Interrupt the kernal' or 'Restart the kernal' in 'jupyter notebook'
in pycharm => 'ctrl + c'

# 10. How can you tell the difference between break and continue?

In [ ]:
Diffrence between break and continue:
    
    1). Break => 'Break' is used for it terminates the excution from current loop are condition then it will pass 
                 to body or another condition or loop.
    
    2). continue => 'continue' is used for it will skip the current iteration and excutes the very 
                    next iteration in a same loop or condition

In [34]:
a = 0
l =[1,2,3,4,5,6]
while a < len(l):
    print(l[a])
    if l[a] ==3:
        break
    a = a+1

1
2
3

In [69]:
a = 0
while a <= 5:
    a = a+1
    if a ==3:
        continue
    print(a)

1
2
4
5
6

# 11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

In [47]:
range(10) ==>  when ever we given like this always it will take 0 as index starting point
i =0
for i in range(10):  
    print(i)

0
1
2
3
4
5
6
7
8
9

In [48]:
range(0, 10) ==> when ever we given like this it will take 0 as starting point and 10 as end point,
                    if we want to change we will able to change the start point
i =0
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [49]:
range(0, 10, 1) ==> when ever we given like this here, 0 is start point, 10 is end point, 1is skip point
                    here the loop postion start from 0 till 10 and it will skip the 1 position
i =0
for i in range(0,10,1):
    print(i)

0
1
2
3
4
5
6
7
8
9

# 12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [55]:
i =1
for i in range(10):
    i =i+1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [56]:
i =1
while i<=10:
    print(i)
    i =i+1

1
2
3
4
5
6
7
8
9
10

# 13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

we are calling like "spam.bacon()"