# 1. What exactly is []?

1. These are square brackets , in python this square brackets we can use for define a list
2. we can called it as empty list.
3. in the above empty list we doesn't have items why beacuse it is empty.
4. this is similar to empty string ''

# 2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In the below way we can able to define a list for the above example:

In [1]:
spam = [2,4,6,8,10]

1. From the above difined spam list 3rd value in the sense as per index levels it's starts fro 0,1,2.. so on
2. From the above defined spa list as per index levels 3rd value is 6.
3. we need to replace that value with hello in the bellow way.

In [2]:
spam[2] = 'hello'

In [3]:
spam

[2, 4, 'hello', 8, 10]

# Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [4]:
spam = ['a','b','c','d']

# 3. What is the value of spam[int(int('3' * 2) / 11)]?

In [5]:
spam[int(int('3' * 2) / 11)]

'd'

from the this question spam[int(int('3' * 2) / 11)].

    1. it will calculate inside one means --> '3'*2 => '33'
    2. this '33' we are converting into integer before dividing with 11 --> int('3'*2) => 33
    3. then we are dividing that integer 33 with 11 --> 33/11 => 3.0
    4. now we are getting float value like 3.0 and then we are converting again into --> int(3.0) => 3
    5. finally we are passing that value with spam --> spam[3] => 'd' ( it is seraching the 3 index level from defined spam list)

# 4. What is the value of spam[-1]?

1. spam[-1] means it search the index from last position. 
2. last postion index will starts with -1
3. spam[-1] means it will give 'd'

In [7]:
spam[-1]

'd'

# 5. What is the value of spam[:2]?

1. spam[:2] means it will give list of values from 0th postion to 1'st position.
2. why because always last index range removes from condition like spam[:2] --> spam[0,1] => it gives ['a','b']
   from the defined spam list

In [8]:
spam[:2]

['a', 'b']

# Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.

In [9]:
bacon = [3.14, 'cat', 11, 'cat', True]

# 6. What is the value of bacon.index('cat')?

1. bacon.index('cat') in the sense it will search that 'cat' value from starting index position.
2. where ever it found that 'cat' value at first time -> it will give that index position

In [10]:
bacon.index('cat') # in the first index postion of bacon we found first 'cat' values , that's why it returning 1

1

# 7. How does bacon.append(99) change the look of the list value in bacon?

1.  Here, for the above defind bacon list we are performing append operation.
2.  Append menas it will add the new value 99 to bacon list at the last position

In [12]:
bacon

[3.14, 'cat', 11, 'cat', True]

In [13]:
bacon.append(99)

In [14]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

# 8. How does bacon.remove('cat') change the look of the list in bacon?

In [15]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

1. from the above bacon list it will search where we have 'cat' value at first time.
2. it will found and using remove operation it will remove the first 'cat' value only.

In [16]:
bacon.remove('cat')

In [17]:
bacon

[3.14, 11, 'cat', True, 99]

# 9. What are the list concatenation and list replication operators?

### Concatination : '+'
    
    1. concatination is nothing but extend the specific given data set
    2. for concatination we are using '+'
    3. concatination will applibale on only string, list , tuple
    4. concatination won't work on set , dictionary
    5. and concatination will work on same data types only.
    6. if we try to apply concatination on two different data types it will through the error.
    
Examples :

In [19]:
# strings:
     
s1 = 'Hai '
s2 = " Hello"

s3 = s1+s2
print(s3)

Hai  Hello

In [20]:
# list

l1 = [1,2,3]
l2 = [3,4,5]

print(l1 + l2)

[1, 2, 3, 3, 4, 5]

In [22]:
# tuple

t1 = (1,2)
t2 = (4,5)

print(t1 + t2)

(1, 2, 4, 5)

### Replication : *
    
    1. replication is nothing but give a multiple copy's of the specific given data set
    2. for replication we are using '*'
    3. replication will applibale on string, list , tuple, set, dictionary
    4. and concatination will work on same data types only.
    6. if we try to apply concatination on two different data types it will through the error.
    
Example :

In [24]:
# string

s2 = "Good "
print(s2*3)

Good Good Good

In [25]:
# list 

l2 = [1,2,3]
print(l2*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [26]:
# tuple

t3 = (4,5,6)
print(t3*5)

(4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6)

# Note : 
 1. Here directly we canot able to perform replication on sets and dictionary's
 2. for this we can use itertools module with repeat() function
 3. we can able to perform this repeat opearation on string , list, tuple also

In [29]:
# set
import itertools
s3 = {8,9}

out = itertools.repeat(s3,times =3)
print(list(out))

[{8, 9}, {8, 9}, {8, 9}]

In [30]:
# dictionary
d1 = {'a':"ineuron"}

out1 = itertools.repeat(d1,times =5)
print(list(out1))

[{'a': 'ineuron'}, {'a': 'ineuron'}, {'a': 'ineuron'}, {'a': 'ineuron'}, {'a': 'ineuron'}]

# 10. What is difference between the list methods append() and insert()?

### Append: 
    
    1. append() operation will append or add the given values to end of the list only.
    2. we can able to insert any datatype into the list means string, another list inside list, tuple, dictionary
    
Example :

In [34]:
l1 = [4,2,3,5]
l1.append(100)
print(l1)

[4, 2, 3, 5, 100]

In [35]:
l1 = [4,2,3,5]
l1.append([20,50])
print(l1)

[4, 2, 3, 5, [20, 50]]

### Insert :
    
    1. insert() operation will insert or add the values at specific given position.
    2. we can able to insert any datatype into the list means string, another list inside list, tuple, dictionary

    
Example :

In [36]:
l2 = [4,2,7,5]
l2.insert(2,'Hai')
print(l2)

[4, 2, 'Hai', 7, 5]

In [38]:
l2 = [4,2,7,5]
l2.insert(3,{10,20,30})
print(l2)

[4, 2, 7, {10, 20, 30}, 5]

# 11. What are the two methods for removing items from a list?

we have three removing methods are there from the list:
    
    1. remove()
    2. pop()
    3. clear()

### 1. remove() :

    => remove() method is used for removing the given element which is exist from the list.

In [39]:
l = [10,20,30,40,50,60]
l.remove(40)
print(l)

[10, 20, 30, 50, 60]

### 2. pop():
    
    => pop() method is used for it will always removes the last element from the given list.

In [41]:
l = [11,22,33,44,55,66,77]
l.pop()
l

[11, 22, 33, 44, 55, 66]

### 3. clear():
    
    => clear() method always removes or clear the entire elements from the given list.

In [42]:
l = [3,4,5,10,33]
l.clear()
print(l)

[]

# 12. Describe how list values and string values are identical.

### Strings : 
    
    1. string are immutable means unchangable.
    2. string have same datatype means string always contains characters.
    3. string come under sequence it contains numbers, letters and special characters.
    4. we can define string with single quote ('') , double quote ("") or triple quote (''' ''')
    5. string characters are always contains string data type
    6. each element of the string can be accessed using indexing or slicing operation.
    7. we can able to perform string extraction oprations

In [43]:
s = "ineuron datascience@123"
print(s)

ineuron datascience@123

In [44]:
s[3:7]

'uron'

### Lists :
    
    1. lists are mutable means changable.
    2. list always supports multipe data type means we can store --
          -- string,numbers,booleans, nested list, tuple, dictionary, sets
    3. list we can difine with []
    4. we can able access the elements in forward and backword direction also.
    5. we can able to perform data manupulation operations on list like --
         -- 1. insert()
            2. delete()
            3. update()
            4. pop()
            5. remove()
            6. clear() .. etc

In [47]:
l = [1,2,3,'hai','@',[1,2],{3,4},{'name':"ineuron"}]
print(l)

[1, 2, 3, 'hai', '@', [1, 2], {3, 4}, {'name': 'ineuron'}]

In [49]:
l[5:8]

[[1, 2], {3, 4}, {'name': 'ineuron'}]

# 13. What's the difference between tuples and lists?

### Tuples:
    
    1. Tuples are immutable means unchangable.
    2. Tuples are much faster compare to list
    3. tuples occupies less memeory compare to list.
    4. we cannot able to change the values using index positions.
    5. tuple we can define with ()
    6. tuple always supports multipe data type means we can store --
          -- string,numbers,booleans, nested list, tuple, dictionary, sets
    7. on tuples we can able to perform data access operations only

In [51]:
t = (1,2,'hai',[1,2],{1,2},{"name":"hello"},True)
print(t)

(1, 2, 'hai', [1, 2], {1, 2}, {'name': 'hello'}, True)

In [52]:
t[2:10]

('hai', [1, 2], {1, 2}, {'name': 'hello'}, True)

### Lists :
    
    1. lists are mutable means changable.
    2. list always supports multipe data type means we can store --
          -- string,numbers,booleans, nested list, tuple, dictionary, sets
    3. list we can difine with []
    4. we can able access the elements in forward and backword direction also.
    5. we can able to perform data manupulation operations on list like --
         -- 1. insert()
            2. delete()
            3. update()
            4. pop()
            5. remove()
            6. clear() .. etc
    6. lists are much slower compare to tuple
    7. lists occupies more memeory compare to tuple.

In [53]:
l = [1,2,3,'hai','@',[1,2],{3,4},{'name':"ineuron"}]
print(l)

[1, 2, 3, 'hai', '@', [1, 2], {3, 4}, {'name': 'ineuron'}]

In [54]:
l.append(10)
print(l)

[1, 2, 3, 'hai', '@', [1, 2], {3, 4}, {'name': 'ineuron'}, 10]

# 14. How do you type a tuple value that only contains the integer 42?

In [57]:
(42,) # here , is manditory then only it will come into tuple

(42,)

In [58]:
# other wise it will consider normal integer
(42)

42

# 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

1. we can able to convert list[] value into tuple() form like below

In [63]:
l = [1,2,3]
l1 = tuple(l)
print(l1)
print(type(l1))

(1, 2, 3)
<class 'tuple'>

2. we can able to convert tuple() value into list[] form like below

In [64]:
t = (1,2,3)
t1 = list(t)
print(t1)
print(type(t1))

[1, 2, 3]
<class 'list'>

# 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

They contain reference to the list values

# 17. How do you distinguish between copy.copy() and copy.deepcopy()?

### Shallow copy() : 
    
    1. shallow copy() is nothing but we make copy of reference from old list to new list.
    2. in shallow copy() - in old list if any new values will add automatically that new value will be add to new list also.
    
Example:

In [71]:
import copy

l1 = [[1,2,3],[4,5,6],[7,8,9]]
l2 = copy.copy(l1)

print(l1)
print(l2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [72]:
l1[1][1] = 10

print(l1)
print(l2)

[[1, 2, 3], [4, 10, 6], [7, 8, 9]]
[[1, 2, 3], [4, 10, 6], [7, 8, 9]]

### Deep copy() : 
    
    1. deep copy() is nothing but we make copy of reference from old list to new list.
    2. in deep copy() - in old list if we add any new element in new list that value will not copy ,
        it have same copy as old   list .
    
Example:

In [73]:
l2 = [[1,2,3],[4,5,6],[7,8,9]]
l3 = copy.deepcopy(l2)

print(l2)
print(l3)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [74]:
l1[1][1] = 10

print(l1)
print(l2)

[[1, 2, 3], [4, 10, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]